.profile {
  display: flex;
}

.profileRight {
  flex: 9;
}

.profileCover {
  height: 320px;
  position: relative;
}

.profileCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}

.profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  border: 3px solid white;
  cursor: pointer;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileInfoName {
  font-size: 24px;
}

.profileInfoDesc {
  font-weight: 300;
}

.profileRightBottom {
  display: flex;
}

.shareImgContainer {
  padding: 10px 20px 10px 20px;
  position: relative;
}

.shareImg {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.shareCancelImg {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  opacity: 0.7;
}

.saveButton {
  position: absolute;
  border: none;
  bottom: 15px;
  right: 1px;
  padding: 7px;
  border-radius: 5px;
  background-color: green;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
  opacity: 0.7;
}

.uploadCancelProfileImg {
  position: absolute;
  top: 150px;
  right: 519px;
  cursor: pointer;
  opacity: 0.7;
}

.uploadSuccessProfileImg {
  position: absolute;
  top: 280px;
  right: 519px;
  cursor: pointer;
  opacity: 0.7;
}

.uploadProfileImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  border: 3px solid white;
  cursor: pointer;
}
